<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <connectionStrings>

        <add name = "freeaspconnection" connectionString = "Server=sql.freeasphost.net\MSSQL2016;Database=laperegrin_Contracts;uid=laperegrin;pwd=Ghbdtn01;" providerName = "System.Data.SqlClient"/>
     
         </connectionStrings>
</configuration>